*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: rgb(223, 216, 216);
  font-family: sans-serif;
}

#Fragen {
  border: 2pt solid black;
  width: fit-content;
  padding: 2px;
}

.rechts {
  float: right;
  border: 5px solid rgb(123, 100, 117);
}


a {
  color: rgb(118, 24, 134);
}

